body {
  background: #f5f5f4;
  color: #232323;
  line-height: 10px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 25px 50px;
}

code {
  color: #09507c;
  background: #deedf2;
  padding: 2px 10px;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  padding: 15px;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  border-color: #09507c;
  background-color: #deedf2;
}

#app {
    /* display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px; */

    padding: 0em;
    margin: 0em;
}

#controls {
  width: 40em;
}

#gameArea {
  display: grid;
  background-color: blue;
  grid-template-columns: "1fr 1fr 1fr";
}

#messageArea {
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
  height: 14em;
  /* width: 50px; */
  width: auto;
  background-color: black;
  color: white;
  font-size: 0.9em;
  overflow: scroll;
  overflow-y:auto;
}

pre {
  line-height: 1.1;
  font-family:'Courier New', Courier, monospace;
  font-size: 0.9em;
/* 
  overflow: scroll;
  overflow-y:auto; */

}

#titleBar {
  display: flex;
  height: 1em;
  font-size: 0.9em;
  background-color: black;
  color: white;
  padding: 0.3em;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dungeonRow {
  /* max-width: 40em; */
  background-color: blue;
  gap: 0em;
  width: min-content;
  height: min-content;
  /* overflow: hidden; */
}

.dungeonCell {
  
  /* Alignment of the cell contents */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Appearance of the cell itself */
  border-style: solid;
  border-width: 0.5px;
  border-color: #202020;
  background-color: black;
  color: white;

  /* original */
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
}

/* generic mouse cursor hover */
.dungeonCell:hover {
  background-color: #505050;
}

/* color of cell when we can move there */
.canMoveTo:hover {
  background-color: green;
  cursor: move;
}

/* color of cell when we hover over a monster that is in range of our weapon */
.monsterInRange:hover {
  background-color: red;
  cursor: "crosshair";
}

/* color of cell when we hover over a monster that is out of range */
.monsterOutOfRange:hover {
  background-color: orange;
  cursor: "crosshair";
}

/* color of cell when we hover over treasure */
.treasure:hover {
  background-color: yellow;
  color: black;
  cursor: "pointer"; 
}

/* cells that are illuminated have a brighter background */
.light {
  background-color: #303030;
}
